@charset "UTF-8";

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}

.icon-hero-insert{
    mask-image: url(arrow_insert.svg);
    -webkit-mask-image: url(arrow_insert.svg);
}
.icon-arrow-down{
    mask-image: url(arrow_downward.svg);
    -webkit-mask-image: url(arrow_downward.svg);
}
.icon-table-insert{
    mask-image: url(arrow_insert.svg);
    -webkit-mask-image: url(arrow_insert.svg);
}